<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397220588508-vpcjqtsf0h8ddfevtp223unh74p8qjlo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397220588508-vpcjqtsf0h8ddfevtp223unh74p8qjlo</string>
	<key>API_KEY</key>
	<string>AIzaSyBG7Fp2GR50r2uVyjxYNC8O5EJnkkNdaqo</string>
	<key>GCM_SENDER_ID</key>
	<string>397220588508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ejohri.mobile</string>
	<key>PROJECT_ID</key>
	<string>ejconsumer-f9d91</string>
	<key>STORAGE_BUCKET</key>
	<string>ejconsumer-f9d91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397220588508:ios:f4d4875767d844327f7d19</string>
</dict>
</plist>